#beneficios-display {
    width: 100vw;
    padding: 15px 10vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.beneficio {
    width: 180px;
    height: 100px;
    background-color: var(--blueish-grey);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    color: var(--main-color);

}

i {
    font-size: 40px;
    margin-right: 10px;
}

p {
    font-weight: 700;
}