#slider {
    height: 600px;
    width: 100%;
    overflow: hidden;
    top: 0px;
    left: 0px;
    align-items: center;
  }
  
  #slider .slide img {
    height: 600px;
    width: 100%;
    object-fit: cover;
  }
  
  .navigation {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
  
    /* bottom: 160px;
    left: 850px; */
  }
  
  .bar {
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    margin: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .bar:hover {
    background-color: #fff;
  }
  
  .input {
    display: none;
  }
  
  .slides {
    display: flex;
    width: 500%;
    height: 100%;
  }
  
  .slide {
    width: 20%;
    transition: 0.6s ease;
  }
  
  #slide1:checked ~ .first-image {
    transition: 0.6s;
    margin-left: 0;
  }
  
  #slide2:checked ~ .first-image {
    transition: 0.6s;
    margin-left: -20%;
  }
  
  #slide3:checked ~ .first-image {
    transition: 0.6s;
    margin-left: -40%;
  }
  
  #slide4:checked ~ .first-image {
    transition: 0.6s;
    margin-left: -60%;
  }
  
  #slide5:checked ~ .first-image {
    transition: 0.6s;
    margin-left: -80%;
  }
  
  .navigation-bg {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
  }
  
  .navigation-bg div {
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    margin: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
  }
  
  #slide1:checked ~ .navigation-bg .btn-slide1 {
    background-color: white;
  }
  
  #slide2:checked ~ .navigation-bg .btn-slide2 {
    background-color: white;
  }
  
  #slide3:checked ~ .navigation-bg .btn-slide3 {
    background-color: white;
  }
  
  #slide4:checked ~ .navigation-bg .btn-slide4 {
    background-color: white;
  }
  
  #slide5:checked ~ .navigation-bg .btn-slide5 {
    background-color: white;
  }